:root {
  --header-height: 65px;
  --icon-width: 65px;
  --border: 2px solid var(--bs-gray-400);
}

.header {
  background-color: var(--vt-c-white-mute);
  height: var(--header-height);
  border: var(--border);
}
.icon-container {
  display: grid;
  place-items: center;
  height: var(--header-height);
  width: var(--icon-width);
  border-left: var(--border);
  border-right: var(--border);
}
.nav-item {
  color: var(--empyrean-blue);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.nav-item:hover {
  background-color: var(--empyrean-blue);
  color: var(--vt-c-white-mute);
  cursor: pointer;
  border: var(--border);
}
.nav-item:last-child {
  border-right: none;
}
