.mainContent {
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.indexView {
  padding-top: var(--pad-xs);
  padding-bottom: var(--pad-lg);
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.routerViewContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
