.environment-indicator {
  z-index: 1000;
  border-radius: 10px;
  margin-left: var(--margin-xs);
  padding: var(--pad-xs) var(--pad-md);
  font-size: 16px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--vt-c-text-light-2);
}

.local {
  background-color: var(--env-local);
}

.prod {
  background-color: var(--env-prod);
}
