:root {
  --icon-height: 50px;
}
.icon-card {
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  border-radius: 10px;
}
.icon-wrapper {
  width: var(--icon-height);
  height: var(--icon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon-image {
  object-fit: contain;
  max-width: 60%; /* Adjust to fit inside the circle */
  max-height: 60%;
  object-fit: contain;
  filter: saturate(100%) invert(58%) sepia(6%) saturate(3000%) hue-rotate(170deg) brightness(65%)
    contrast(100%);
}
.icon-title {
  font-size: 14px;
}
.icon-body {
  width: 100%;
}
.no-padding {
  padding: 0px;
}
.health-card {
  height: 150px;
  border-radius: 10px;
}
.health-card:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
  cursor: pointer;
}
.icon-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: var(--really-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
